<div class="post__container--master-detail ">
  <div  class="post post--medium header--color font__heading--small font--dark" >
    <div class="post__header">
        <p class="post__date">2022</p>
        <p class="post__title">{{post.title}}</p>
    </div>
    <div class="post__content font__body ">
      <p>The page generates a voronoi diagram starting from an image downloaded from the NASA Astronomy Picture of the Day.</p>
      <a href="https://www.html.it/">HTML.it</a>.
    </div>
   </div>
   <div class="post__interactive-content">
        <div *ngIf="imageDownloadPending; then pleaseWait else imageDownloadCompleted"></div>
        <ng-template #pleaseWait><div class="spin"></div></ng-template>
        <ng-template #imageDownloadCompleted> <img [src]="downloadedImage"/> </ng-template>
   </div>
  </div>
