
.navigationBarContainer{
  display: grid;
  grid-template-columns: [first-column] auto;
  grid-template-rows: [first-row] auto;
  justify-items: start;
  align-items: center;
}

.navigationBarContainer__navigationLinkContainer {
  grid-column-start: first-column;
  grid-column-end: first-column;
  grid-row: first-row;
  justify-self: start;
}

.navigationBarContainer__navigationLinkContainer > * {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.navigationBarContainer__titleContainer {
  grid-column-start: first-column;
  grid-column-end: first-column;
  grid-row: first-row;
  justify-self: center;
}

