/* You can add global styles to this file, and also import other style files */
/*css custom properties (variables)*/
:root {
  /*---colors---*/
  /*color of the navigation bar and the post headers*/
  --brainfog__header--color: #0D0D0D;
  /*dark color of the text*/
  --brainfog__text--darkcolor:#6C808B;
  /*white color of the text*/
  --brainfog__text--lightcolor:#FFFFFF;
  /*background color of the application*/
  --brainfog__background--color:#262626;
}

/* classes for the colors */
.font--dark{
  color: var(--brainfog__text--darkcolor);
}

.header--color {
  background-color: var(--brainfog__header--color);
}
/*background color of the entire app*/
body {
  background-color: var(--brainfog__background--color);
  margin: 0px;
}

/*fonts*/
@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("./assets/fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

.font__heading--large {
  font-family: "PlayfairDisplay-Regular";
  font-size: 40px;
}
.font__heading--medium {
  font-family: "PlayfairDisplay-Regular";
  font-size: 32px;
}
.font__heading--small {
  font-family: "PlayfairDisplay-Regular";
  font-size: 24px;
}
.font__body {
  font-family: "Roboto-Regular";
  font-size: 16px;
}

.post {
  margin: 10px;
}

.post--small{
  width: 300px;
  height: 340px;
}

.post--medium{
  width: 1000px;
  height: 430px;
}

.post__header{
 display: grid;
 grid-template-columns: [first-column] 100%;
 grid-template-rows: [first-row] 50% [second-row] 50%;
 justify-items: center;
 align-items: center;
 width: 100%;
 height: 23%;
}

.post__title{
 grid-column-start: first-column;
 grid-column-end: first-column;
 grid-row-start: second-row;
 grid-row-end:second-row;
}

.post__date{
 grid-column-start: first-column;
 grid-column-end: first-column;
 grid-row-start: first-row;
 grid-row-end:first-row;
 justify-self: end;
}
/* this css class limit the size of the post header. */
.post__content{
  width: 100%;
  height: 77%;
  background-color: var(--brainfog__text--lightcolor);
}


.post__container--master-detail{
  display: grid;
  grid-template-columns: [first-column] 100%;
  justify-items: center;
  align-items: center;
 }
